// main alert component
.alert {
	background: $primary_color;
  color: $light_color;
  padding: 20px;
  border-radius: 3px;
  margin: 1em 0;
}

// Alert Styles
.alert-success {
	background: $success_color;
  color: $light_color;
}

.alert-danger {
	background: $danger_color;
  color: $light_color;
}

.alert-warning {
	background: $warning_color;
  color: $dark_color;
}
